{% extends 'singlePlayer/layout.html' %}
{% load static %}
{% block title %}
{% endblock title %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <h1 class="headers" id="title">Choose Your Team</h1>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        {% for team in teams %}
        <div class="col headers team_content">
            <div class="image_div">
                <img src="{{ team.image_url }}" alt="{{ team.name }}'s photo" class="team_photo">

            </div>
            <hr>
            <h2 class="card-title team_name">{{ team.name }}</h2>
            <hr>
            <ul id="ul{{ team.id }}" style="display: none;">
                {% for general in generals %}
                {% if general.team == team %}
                <li class="general_name">{{ general.name }}</li>
                {% endif %}
                {% endfor %}
            </ul>
            <span id="sp{{ team.id }}"></span>
            <button class="btn btn-success see" data-team="{{ team.id }}">See the Generals</button>
            <a href="{% url 'new_choose' team.id %}" class="btn btn-danger take">Take Team</a>


        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'JSbundle/choose.js' %}"></script>
{% endblock script %}