{% extends 'singlePlayer/layout.html' %}
{% block title %}Sign Up{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <div class="main">
                <form action="{% url 'register' %}" method="post">
                    <h1 class="headers">Register</h1>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-success submit_button" value="Sign Up">
                </form>
            </div>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>


{% endblock %}